@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Inter:wght@400;500;800&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Dosis:wght@200&family=Inter:wght@400;500;800&family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
